#main-container {
  background: #ff553a;
  background: -moz-linear-gradient(45deg, #ff553a 0%, #e21937 100%);
  background: -webkit-linear-gradient(45deg, #ff553a 0%, #e21937 100%);
  background: linear-gradient(45deg, #ff553a 0%, #e21937 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff553a",endColorstr=" #e21937",GradientType=1);
}
/*  */
/* .swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 8px 16px;
  border-radius: 100%;
  border: 2px solid black;
  color: red;
}
.swiper-button-prev {
  background-image: url("/box-arrow-in-left.svg");
}
.swiper-button-next {
  background-image: url("/box-arrow-in-right.svg");
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
} */

.w-200 {
  margin-right: 10px;
  margin-bottom: 25px;
  margin-top: -4px;
}

.PictureSize {
  width: 100%;
  
  
}

.PictureM {
  overflow-x: hidden;
  padding: 30px;
}

/* SheetCSS */
.ScroolingPage {
  padding: 10px;
  /* margin-top: -200px; */
  height: 700px;
}

.NewCSS {
  height: 1000px;
}

/* width: 200%; */